* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

#home{
    background-color: black;
    height: 100vh;
    width: 100%;
}
  
#home #navbar h1 {
  margin-left: 50px;
  padding-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size:30px;
  color: yellow;
}
#home  #navbar ul{
    display: flex;
    margin-left: 600px;
    margin-top: -10px;
}
#home #navbar ul li {

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  color: rgb(255, 123, 0);
  list-style: none;
  padding: 0px 10px;
  margin-top: -20px;
  font-size: 20px;
  
}
#home  #navbar ul li :hover{
    color:rgb(18, 18, 151);
}

.image {
  width: 100%;
}

.image img {
  width: 45px;
}